# Bloquer l'accès aux fichiers sensibles
<FilesMatch "^\.env|\.sql$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Redirection HTTPS propre
    RewriteCond %{HTTPS} on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>

# Options de performance (GZIP et Cache)
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json application/xml image/svg+xml
</IfModule>