<FilesMatch "^\.env|\.sql$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Rediriger vers HTTPS uniquement si la connexion est en HTTP
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirection interne vers le dossier public/ de CodeIgniter
    RewriteCond %{URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>